/*

    ButterflyJS
    Ultimate JavaScript front-end library



    File: _images.scss

    Developed by Semir Babajić

*/

img {
    margin-bottom: $cell-padding-top;
    @include box-sizing(border-box);
}

img.responsive {
    display: block;
    width: 100%;
}

img.border {
    border: 1px solid $border-color;
    padding: $button-radius;
    @include border-radius($button-radius);
}

a > img.border:hover {
    border: 1px solid darken($border-color, 20);
    @include box-shadow(0, 0, $button-radius, $border-color);
}