/*

    ButterflyJS
    Ultimate JavaScript front-end library

    Version 1.0

    File: _images.scss

    Developed by Semir Babajić

*/

img.responsive {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}