/*
    
    ButterflyJS
    Ultimate JavaScript front-end library



    File: _mixins.scss

    Developed by Semir Babajić

*/

@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $value * 100 + ")";
    filter: alpha(opacity = $value * 100);
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    -ms-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

@mixin letterpress($color) {
    -webkit-text-shadow: $color 0 1px 0;
    -moz-text-shadow: $color 0 1px 0;
    -ms-text-shadow: $color 0 1px 0;
    text-shadow: $color 0 1px 0;
}

@mixin box-sizing($sizing: "border-box") {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin prevent-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin caret-up($color, $size: 4px, $pTop: -2px, $mLeft: 7px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid transparent;
    border-bottom-color: $color;
    position: relative;
    top: $pTop;
    margin-left: $mLeft;
}

@mixin caret-down($color, $size: 4px, $pTop: -2px, $mLeft: 7px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid transparent;
    border-top-color: $color;
    position: relative;
    top: $pTop;
    margin-left: $mLeft;
}

@mixin caret-right($color, $size: 4px, $pTop: -2px, $mLeft: 7px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid transparent;
    border-left-color: $color;
    position: relative;
    top: $pTop;
    margin-left: $mLeft;
}

@mixin caret-left($color, $size: 4px, $pTop: -2px, $mLeft: 7px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid transparent;
    border-right-color: $color;
    position: relative;
    top: $pTop;
    margin-left: $mLeft;
}