<div id="compose-dialog" class="dialog moveable modal">
   <div class="header black">
      <h1>Compose Tweet</h1>
      <div class="button-group">
         <button class="dismiss"></button>
      </div>
   </div>
   <div class="content">
      <form class="compose-form">
         <textarea placeholder="Write something here..." name="tweet" class="tweet"></textarea>
         <div class="tweet-tools">
            <span name="left" type="property">140</span>
         </div>
      </form>
   </div>
   <div class="footer">
      <div class="message">
         <span></span>
      </div>
      <div class="button-group large">
         <button class="dismiss neutral">Close</button>
         <button class="submit-tweet">Compose</button>
      </div>
   </div>
</div>