<div class="container">
	<div class="row">
		<div class="cell c4 profile-info">
			<div class="clone-info">
				<div class="clone-cover"></div>
				<div class="clone-photo">
					<img class="responsive" src="../../img/butterfly-logo-colors.png"/>
				</div>
				<div class="clone-owner">
					<p class="h5">Butterfly Framework</p>
					<p>@butterflyhq</p>
				</div>
				<div class="row stats">
					<div class="cell c4">
						<p class="transform-uppercase"><small>Tweets</small></p>
						<p class="h5">40</p>
					</div>
					<div class="cell c4">
						<p class="transform-uppercase"><small>Following</small></p>
						<p class="h5">40</p>
					</div>
					<div class="cell c4">
						<p class="transform-uppercase"><small>Followers</small></p>
						<p class="h5">40</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cell c8">
			<div class="tweets">
				<div class="compose">
					<form class="compose-form dashboard-compose">
						<textarea placeholder="Write something here..." name="tweet" class="tweet"></textarea>
						<div class="tweet-tools">
							<button type="button" class="submit-tweet">Tweet</button>
							<span name="left" type="property">140</span>
						</div>
					</form>
				</div>
				<div class="tweets-stream">
					<div class="tweet">
						<h5 id="no-tweets" class="align-center">No tweets to show right now. Why don't you write one?</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>