<div class="billboard">
</div>
<div class="profile-tools">
	<div class="container">
		<div class="row">
			<div class="cell c4"></div>
			<div class="cell c8">
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="cell c4">
			<div class="profile-photo">
				<img class="responsive border" src="../../img/butterfly-logo-colors.png"/>
			</div>
			<strong><h4>Butterfly Framework</h4></strong>
			<p><a class="brightest" href="https://twitter.com/butterflyhq">@butterflyhq</a></p>
			<p>Next generation front-end development framework. Github repository @ <a href="http://goo.gl/NIeM57">http://goo.gl/NIeM57</a></p>
		</div>
		<div class="cell c8">
			<div class="tweets">
				<div class="tweets-stream">
					<div class="tweet">
						<h5 id="no-tweets" class="align-center">No tweets to show right now. Why don't you write one?</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>