<div class="tweet">
	<div class="row">
		<div class="cell c2">
			<img class="responsive" src="../../../img/butterfly-logo-colors.png"/>
		</div>
		<div class="cell c10">
			<div class="owner">
				<p name="owner" type="property"></p>
			</div>
			<div class="text">
				<div>
					<strong>Butterfly Framework</strong>
					<span><a class="brightest" href="https://twitter.com/butterflyhq">@butterflyhq</a></span>
					<span class="brightest" name="elapsed" type="property"></span>
				</div>
				<p class="h5" name="tweet" type="property"></p>
				<div class="brightest">
					<a target="_blank" href="https://twitter.com/butterflyhq">Reply</a> •
					<a target="_blank" href="https://twitter.com/butterflyhq">Retweet</a> •
					<a target="_blank" href="https://twitter.com/butterflyhq">Favorite</a>
				</div>
			</div>
		</div>
	</div>
</div>